@charset "UTF-8";
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family:'Noto Sans JP',sans-serif;
  font-size: 24px;
  color: #ffffff;
  background-color: #1F1F1F;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  opacity: 0.7;
  color: #EF4444;
}
.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
.section-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 60px;
  text-align: center;
  margin-bottom: 50px;
  color: #EF4444;
}
.btn {
  display: inline-block;
  padding: 15px 20px;
  background-color: #EF4444;
  border-radius: 10px;
  font-size: clamp(12px, 1.2vw, 18px);
  font-weight: bold;
  box-shadow: 0 0 12px rgba(239, 68, 68, 0.5);
  transition: all 0.5s;
}
.btn:hover {
  color: #000;
  background-color: #FACC15;
  opacity: 1;
  transform: scale(1.1);
}

/*----------------------------------------
header
----------------------------------------*/
#header {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 24px;
  height: 80px;
  padding: 0 20px;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}
#header .inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .logo {
  position: relative;
  z-index: 40;
}
#header .logo img {
  height: 60px;
  display: block;
}
#header nav {
  display: block;
}
#header nav ul{
  display: flex;
}
#header nav li {
  margin-left: 20px;
  opacity: 1;
}
#header .hamburger {
  display: none;
}


/*----------------------------------------
hero
----------------------------------------*/
.hero {
  margin-bottom: 120px;
  position: relative;
}
.hero .mainvisual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero .inner {
  position: absolute;
  max-width: 630px;
  top: 25%;
  left: 120px;
}
.hero .inner p {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 1);
}
.hero .inner .title {
  font-size: clamp(34px, 6.5vw, 90px);
  font-weight: bold;
  margin-bottom: 20px;
}
.hero .inner .text {
  font-size: clamp(18px, 2.3vw, 32px);
  margin-bottom: 20px;
}
.hero .inner .description {
  font-size: clamp(12px, 1.5vw, 24px);
  margin-bottom: 40px;
}
.hero .inner .main-btn {
  text-align: center;
}

/*----------------------------------------
about
----------------------------------------*/
#about {
  margin-bottom: 120px;
  text-align: center;
}
#about p {
  margin-bottom: 40px;
}
#about .about-stats {
  display: flex;
  justify-content: center;
}
#about .about-stats .stat {
  margin-right: 15%;
}
#about .about-stats .stat:last-child {
  margin-right: 0;
}
#about .about-stats .count {
  font-size: 80px;
  background: linear-gradient(#EF4444 0%, #FACC55 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*----------------------------------------
reason
----------------------------------------*/
#reason {
  width: 100%;
  height: 960px;
  background-image: url(./img/reason.png);
  background-size: cover;
  margin-bottom: 120px;
  padding: 50px 0;
}

#reason .inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 30px;
}
#reason .inner .item {
  width: 100%;
  height: 340px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 20px;
}
#reason .inner .item .icon {
  margin-bottom: 20px;
}
#reason .inner .item .title {
  font-weight: bold;
  margin-bottom: 20px;
}
#reason .inner .item .text {
  font-size: 18px;
  text-align: center;
}

/*----------------------------------------
plan
----------------------------------------*/
#plan {
  background-color: #000000;
  padding: 120px 0;
  margin-bottom: 120px;
}
#plan .plan-inner .plan-item {
  padding: 80px 20px 20px;
  background-color: #1F1F1F;
  border-radius: 10px;
  margin-bottom: 100px;
  border: 3px solid #1F1F1F;
  transition: all 0.5s;
}
#plan .plan-inner .plan-item:hover {
  border: 3px solid #FACC55;
}
#plan .plan-inner .plan-item .upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
#plan .plan-inner .plan-item .upper .plan-name {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 60px;
  width: 330px;
  background-color: #000000;
  border-radius: 10px;
  margin-right: 2%;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#plan .plan-inner .plan-item .upper .price-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  margin-right: 2%;
}
#plan .plan-inner .plan-item .upper .price-inner .price {
  font-size: 80px;
  font-weight: bold;
  line-height: 1;
}
#plan .plan-inner .plan-item .upper .price-inner .unit {
  display: inline-block;
  font-size: 32px;
}
#plan .plan-inner .plan-item .upper .content {
  font-size: 32px;
}
#plan .plan-inner .plan-item1 .upper .plan-name,
#plan .plan-inner .plan-item1 .upper .price-inner {
  color: #FACC55;
}
#plan .plan-inner .plan-item2 .upper .plan-name,
#plan .plan-inner .plan-item2 .upper .price-inner {
  color: #EF4444;
}
#plan .plan-inner .plan-item3 .upper .plan-name,
#plan .plan-inner .plan-item3 .upper .price-inner {
  color: #8EEF44;
}
#plan .plan-inner .plan-item .bottom {
  text-align: center;
}
#plan .plan-inner .plan-item .bottom .btn {
  width: 200px;
}
#plan .plan-inner .plan-bottom-item {
  font-size: 32px;
  text-align: center;
}
#plan .plan-inner .plan-bottom-item .title {
  color: #EF4444;
  margin-bottom: 10px;
}
#plan .plan-inner .plan-bottom-item .detail {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
#plan .plan-inner .plan-bottom-item .detail:last-child {
  margin-bottom: 0;
}
#plan .plan-inner .plan-bottom-item p {
  margin-left: 50px;
}
#plan .plan-inner .plan-bottom-item .upper,
#plan .plan-inner .plan-bottom-item .bottom {
  display: flex;
  justify-content: center;
}

/*----------------------------------------
equipment
----------------------------------------*/
#equipment {
  margin-bottom: 120px;
}
#equipment .eq-inner {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
#equipment .eq-inner .eq-item {
  width: 32%;
  height: 800px;
  background-color: #0A0A0A;
  border-radius: 10px;
  padding: 50px 20px;
  text-align: center;
}
#equipment .eq-inner .eq-item .title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 48px;
  color: #FACC15;
  margin-bottom: 30px;
}
#equipment .eq-inner .eq-item .img {
  margin-bottom: 30px;
}
#equipment .eq-inner .eq-item .description {
  margin-bottom: 50px;
}
#equipment .eq-inner .eq-list li {
  margin-bottom: 20px;
  text-decoration: underline;
}
#equipment .horizontal-wrapper {
  position: relative;
  height: 100vh;
}

#equipment .horizontal-wrapper .horizontals {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  width: calc(100vw * 3); 
}

#equipment .horizontal-wrapper .horizontals li {
  min-width: 100vw;
}
#equipment .horizontal-wrapper .horizontals .free-wight,
#equipment .horizontal-wrapper .horizontals .machine,
#equipment .horizontal-wrapper .horizontals .cardio {
  position: relative;
}
#equipment .horizontal-wrapper .horizontals p {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 32px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 1);
  position: absolute;
  top: 50%;
  left: 47%;
}

#equipment .horizontal-wrapper .horizontals li img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/*----------------------------------------
campaign
----------------------------------------*/
#campaign {
  margin-bottom: 120px;
}
#campaign .img {
  text-align: center;
}
#campaign .img img {
  width: 90%;
  height: auto;
  object-fit: cover;
}

/*----------------------------------------
faq
----------------------------------------*/
#faq {
  margin-bottom: 120px;
}

#faq .accordion {
  font-size: 32px;
}
#faq .accordion li {
  margin-bottom: 50px;
}
#faq .accordion .accordion-q {
  display: flex;
  align-items: center;
  background-color: #0A0A0A;
  color: #ffffff;
  padding: 30px 50px 30px 20px;
  border-radius: 10px 10px 0 0;
  position: relative;
}
#faq .accordion .accordion-q .accordion-q-prefix {
  color: #EF4444;
  margin-right: 20px;
}

#faq .accordion .accordion-q .accordion-q-prefix::before {
  content: "";
  width: 21px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  right: 20px;
  top: 55px;
}
#faq .accordion .accordion-q .accordion-q-prefix::after {
  content: "";
  width: 3px;
  height: 21px;
  background-color: #fff;
  position: absolute;
  right: 29px;
  top: 46px;
}


/* accordion: 初期は閉じる */
#faq .accordion .accordion-a {
  display: flex;
  align-items: center;
  border-radius: 0 0 10px 10px;
  background-color: #ffffff;
  color: #000000;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0 20px;
  transition: 
      padding 0.15s ease,
      opacity 0.15s ease,
      max-height 0.15s ease;
}

#faq .accordion li.active .accordion-a {
  max-height: 1000px; /* 十分大きくしておく */
  opacity: 1;
  padding-top: 30px;
  padding-bottom: 30px;
}


/* クリック可能に */
#faq .accordion .accordion-q {
  cursor: pointer;
}

/* + アイコンのアニメーション用トランジション */
#faq .accordion .accordion-q .accordion-q-prefix::before,
#faq .accordion .accordion-q .accordion-q-prefix::after {
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform-origin: center;
}

/* 初期の回転 */
#faq .accordion .accordion-q .accordion-q-prefix::after {
  transform: rotate(0deg);
}

/* 開いたら縦線を180度回転、横線を消す */
#faq .accordion li.active .accordion-q .accordion-q-prefix::after {
  transform: rotate(90deg);
}
#faq .accordion li.active .accordion-q .accordion-q-prefix::before {
  opacity: 0;
}
#faq .accordion .accordion-a .accordion-a-prefix {
  color: #EF4444;
  margin-right: 20px;
}

/*----------------------------------------
access
----------------------------------------*/
#access {
  padding: 50px 0 100px;
  background: #fff;
}
#access p {
  color: #000;
  text-align: center;
}
#access .map {
  margin-top: 50px;
}
#access .map iframe {
  width: 100%;
  height: 620px;
  object-fit: cover;
}

/*----------------------------------------
enroll
----------------------------------------*/
.enroll  {
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 40;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}
.enroll.show {
  opacity: 1;
  pointer-events: auto;
}

/*----------------------------------------
footer
----------------------------------------*/
#footer {
  background-color: #000000;
  padding: 80px 0 30px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
}
#footer .footer-logo {
  width: 100%;
  margin-bottom: 10px;
}
#footer .footer-logo img {
  height: 160px;
  object-fit: cover;
}
#footer .sns {
  max-width: 300px;
  margin: 0 auto 100px;
  display: flex;
  align-items: center;
}
#footer .sns li {
  margin-right: 20px;
}
#footer .sns li:last-child {
  margin-right: 0;
}
#footer .sns li img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

/*----------------------------------------
sp
----------------------------------------*/
@media screen and (max-width:774px) {
  body {
    font-size: 18px;
  }
  .section-title {
    font-size: 40px;
  }

  /*----------------------------------------
  header
  ----------------------------------------*/
  #header {
    height: 60px;
  }
  #header .logo img {
    height: 40px;
  }
  #header nav {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 30;
    transition: all 0.7s;
  }
  #header nav.active {
    top: 0;
  }
  #header nav ul{
    display: block;
    text-align: center;
    margin-top: 160px;
    font-size: 48px;
  }
  #header nav li {
    margin-left: 0;
    margin-bottom: 40px;
    opacity: 0;
  }
  #header .hamburger {
    width: 40px;
    height: 40px;
    background-color: #EF4444;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.8s cubic-bezier(.65,.05,.36,1);
    transform-style: preserve-3d;
  }
  #header .hamburger span {
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    left: 5px;
    transition: transform 0.45s ease, opacity 0.35s ease;
  }
  #header .hamburger span:nth-child(1) {
    top: 10px;
  }
  #header .hamburger span:nth-child(2) {
    top: 20px;
  }
  #header .hamburger span:nth-child(3) {
    top: 30px;
  }
  #header .hamburger.active {
    transform: rotateX(720deg);
  }
  #header .hamburger.active span:nth-child(1) {
    transform: translateY(10px) rotate(-135deg);
  }
  #header .hamburger.active span:nth-child(2) {
    transform: translateY(0) rotate(135deg);
  }
  #header .hamburger.active span:nth-child(3) {
    opacity: 0;
    transform: translateY(0);
  }

  /*----------------------------------------
  hero
  ----------------------------------------*/
  .hero {
    margin-bottom: 100px;
  }
  .hero .mainvisual img {
    width: 100%;
    min-height: 450px;
    object-fit: cover;
  }
  .hero .inner {
    position: absolute;
    max-width: 630px;
    top: 20%;
    left: 10%;
  }
  .hero .inner .title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .hero .inner .text {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .hero .inner .description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .hero .inner .main-btn {
    text-align: center;
  }

  /*----------------------------------------
  about
  ----------------------------------------*/
  #about {
    margin-bottom: 100px;
  }
  #about p {
    margin-bottom: 40px;
  }
  #about .about-stats {
    display: flex;
    justify-content: center;
  }
  #about .about-stats .stat {
    margin-right: 10%;
  }
  #about .about-stats .stat:last-child {
    margin-right: 0;
  }
  #about .about-stats .count {
    font-size: 40px;
  }

  /*----------------------------------------
  reason
  ----------------------------------------*/
  #reason {
    height: 2500px;
    margin-bottom: 100px;
  }

  #reason .inner {
    display: block;
  }
  #reason .inner .item {
    margin-bottom: 50px;
  }
  #reason .inner .item .title {
    font-size: 24px;
  }

  /*----------------------------------------
  plan
  ----------------------------------------*/
    #plan {
      padding: 100px 0;
      margin-bottom: 100px;
    }
    #plan .plan-inner .plan-item {
      padding: 20px;
      margin-bottom: 80px;
    }
    #plan .plan-inner .plan-item .upper {
      flex-direction: column;
      margin-bottom: 50px;
    }
    #plan .plan-inner .plan-item .upper .plan-name {
      width: 60%;
      margin-bottom: 30px;
    }
    #plan .plan-inner .plan-item .upper .price-inner  {
      margin-bottom: 30px;
    }
    #plan .plan-inner .plan-item .upper .price-inner .price {
      font-size: 60px;
    }
    #plan .plan-inner .plan-bottom-item {
      font-size: 24px;
    }

  /*----------------------------------------
  equipment
  ----------------------------------------*/
  #equipment {
    margin-bottom: 100px;
    padding: 0 20px;
  }

  #equipment .horizontal-wrapper {
    position: static;
    height: auto;
  }

  #equipment .horizontal-wrapper .horizontals {
    position: static;
    height: auto;
    display: block;
    width: 100%; 
  }

  #equipment .horizontal-wrapper .horizontals li {
    min-width: auto;
  }

  #equipment .horizontal-wrapper .horizontals li img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  #equipment .eq-inner {
    font-size: 18px;
    flex-direction: column;
    margin-bottom: 30px;
  }
  #equipment .eq-inner .eq-item {
    width: 100%;
    padding: 50px 20px;
    text-align: center;
    margin-bottom: 50px;
  }
  #equipment .horizontal-wrapper .horizontals p {
    left: 45%;
  }
  #equipment .horizontal-wrapper .horizontals li:first-child p {
    left: 42%;
  }

  /*----------------------------------------
  faq
  ----------------------------------------*/
  #faq {
      margin-bottom: 100px;
    }

    #faq .accordion {
      font-size: 20px;
    }
    #faq .accordion .accordion-q .accordion-q-prefix::before {
      top: 50px;
    }
    #faq .accordion .accordion-q .accordion-q-prefix::after {
      top: 41px;
    }

    /*----------------------------------------
    access
    ----------------------------------------*/
    #access {
      padding: 50px 0 80px;
    }

    /*----------------------------------------
  footer
  ----------------------------------------*/
  #footer {
    padding: 60px 0 30px;
  }
  #footer .footer-logo img {
  height: 120px;
  object-fit: cover;
}
}